[submodule "vclib"]
	path = vclib
	url = ../vc-library-kotlin.git
	branch = development
[submodule "pupilidlib"]
	path = pupilidlib
	url = git@gitlab.iaik.tugraz.at:wallet/pupilid-kmm-lib.git
	branch = development
[submodule "remote-crypto-provider"]
	path = remote-crypto-provider
	url = git@gitlab.iaik.tugraz.at:wallet/remote-crypto-provider.git
