[submodule "remote-crypto-provider"]
	path = remote-crypto-provider
	url = ../remote-crypto-provider.git
[submodule "attestation-service"]
	path = attestation-service
	url = ../attestation-service.git
[submodule "kotlin-umbrella-library"]
	path = pupilidumbrella
	url = ../kotlin-umbrella-library.git
[submodule "vc-library-kotlin"]
	path = vclib
	url = ../vc-library-kotlin.git
[submodule "pupilid-kmm-lib"]
	path = pupilidlib
	url = ../pupilid-kmm-lib.git
