[submodule "remote-crypto-provider"]
	path = remote-crypto-provider
	url = ../remote-crypto-provider.git
[submodule "attestation-service"]
	path = attestation-service
	url = ../attestation-service.git
[submodule "kotlin-umbrella-library"]
	path = pupilidumbrella
	url = ../kotlin-umbrella-library.git
