<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Wallet Demo</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/datatables/1.11.4/css/dataTables.bootstrap5.min.css} "/>
    <style>
        table.dataTable thead .sorting:after,
        table.dataTable thead .sorting:before,
        table.dataTable thead .sorting_asc:after,
        table.dataTable thead .sorting_asc:before,
        table.dataTable thead .sorting_asc_disabled:after,
        table.dataTable thead .sorting_asc_disabled:before,
        table.dataTable thead .sorting_desc:after,
        table.dataTable thead .sorting_desc:before,
        table.dataTable thead .sorting_desc_disabled:after,
        table.dataTable thead .sorting_desc_disabled:before {
            bottom: .5em;
        }
    </style>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/datatables/1.11.4/js/jquery.dataTables.js}"></script>
    <script th:src="@{/webjars/datatables/1.11.4/js/dataTables.bootstrap5.js}"></script>
    <script>
        $(document).ready(function () {
            $("#table").DataTable();
        });
    </script>
</head>
<body style="background: #ececec;">
<div th:replace="fragments/navbar.html :: navbar"></div>
<div class="container pt-4">
    <h1 class="display-4">Revocation</h1>
    <p class="alert alert-light border" style="border-left: 0.5rem solid #5bc0de !important;">
        <span th:replace="fragments/icons.html :: info_icon"></span>
        <span>This list contains all valid credentials. To revoke a credential, click on the red button to its right.
            Any updates here have direct effect on the revocation list.</span>
    </p>

    <p th:if="${vcList.isEmpty()}" class="alert alert-danger">
        <span th:replace="fragments/icons.html :: danger_icon"></span>
        No credential exists yet.
    </p>
    <p>
        <a th:href="${createCredentialUrl}" class="btn">Create fake credential</a>
    </p>
    <table id="table" class="table table-striped">
        <thead>
        <tr>
            <th>Subject ID</th>
            <th>Attribute Name</th>
            <th>Issuance Date</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vc : ${vcList}">
            <td><span th:text="${vc.subjectId}">Key</span></td>
            <td><span th:text="${vc.attributeName}">Key</span></td>
            <td><span th:text="${vc.issuanceDate}">Key</span></td>
            <td><a th:href="${revokeActionUrl}+'?vcId='+${vc.vcId}" class="btn btn-danger">revoke</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
