<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>A-SIT Plus Wallet</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css} "/>
</head>
<body style="background: #ececec;">
<div th:replace="fragments/navbar.html :: navbar"></div>
<div class="container pt-4">
    <h1 class="display-4">Create Credential</h1>
    <p class="lead">
        <span>Enter values for the following attributes to create a QR code,
            that can be scanned by the Wallet App to load a credential with
            these attributes into the Wallet.</span>
    </p>

    <form th:action="${qrcodeActionUrl}" method="POST">
        <label for="firstname">First name</label>
        <input id="firstname" type="text" th:name="firstname"/><br>
        <label for="lastname">Last name</label>
        <input id="lastname" type="text" th:name="lastname"/><br>
        <label for="dateofbirth">Date of Birth</label>
        <input id="dateofbirth" type="date" th:name="dateofbirth"/><br>
        <input id="submit" type="submit" value="Submit">
    </form>
</div>
</body>
</html>
