<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Wallet Demo</title>
</head>
<body>
<h1>Wallet Demo</h1>
<div th:unless="${error} != null">
    <p>Scan this QR Code with your Wallet App to load credentials for your PupilID.</p>
    <img th:width="${qrcodewidth}" th:src="'data:image/png;base64,'+${qrcode}" alt="" src=""/>
</div>
<div th:if="${error} != null">
    <p>Internal server error occurred, please retry later</p>
</div>
</body>
</html>
