<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Wallet Demo</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css} "/>
</head>
<body>
<div th:replace="fragments/navbar.html :: navbar"></div>
<div class="container pt-3">
    <div class="h-100 p-5 bg-light border rounded-3">
        <h1 class="display-4">Wallet Demo</h1>
        <div th:unless="${error} != null">
            <p class="lead">Scan this QR Code with your Wallet App to load credentials for your PupilID.</p>
            <img th:width="${qrcodewidth}" th:src="'data:image/png;base64,'+${qrcode}" alt="" src=""/>
        </div>
        <div th:if="${error} != null">
            <p>Internal server error occurred, please retry later</p>
        </div>
    </div>
</div>
</body>
</html>
