<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>A-SIT Plus Wallet</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css} "/>
    <script th:src="@{/webjars/bootstrap/5.3.1/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
    <script>
        $(document).ready(function () {
            $('.tour_btn').click(function () {
                $('html,body').animate({scrollTop: $('#collapseInstructions').offset().top}, 'slow');
            });
        });
    </script>
</head>
<body style="background: #ececec;">
<div th:replace="~{fragments/navbar.html :: navbar}"></div>
<div class="container py-4">
    <div class="row align-items-start">
        <h1 class="display-4 col">Wallet Backend</h1>
        <div class="col"></div>
        <p class="col-auto mt-auto tour_btn">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseInstructions"
                    aria-expanded="false" aria-controls="collapseInstructions">
                Take a Tour <span th:replace="~{fragments/icons.html :: play_icon}"></span>
            </button>
        </p>
    </div>

    <p class="lead mt-4 mb-5">
        Welcome to the A-SIT Plus Wallet System. This is the Backend, which orchestrates issuing of credentials and
        keeps track of the validity of issued credentials.
    </p>

    <p>
        For the custom verifier, starting SIOPv2 requests, see <a href="https://apps.egiz.gv.at/customverifier/">https://apps.egiz.gv.at/customverifier</a>.
    </p>

    <!--/*@thymesVar id="qrcode" type="ByteArray"*/-->
    <div th:if="${qrcode != null}">
        <img th:src="|data:image/png;base64,${qrcode}|" width="500"/>
    </div>

    <div th:replace="~{fragments/donwload.html :: download}"></div>
</div>
</body>
</html>
