<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Wallet Demo</title>
</head>
<body>
<h1>Invitation</h1>
<p>You've received an invitation to verify credentials of a Wallet App. Please install the Verifier App from the Android Play Store or iOS App Store, or download a beta release from <a href="https://wallet.a-sit.at/">wallet.a-sit.at</a>.</p>
<p>Afterwards, you can scan this QR Code with the Verifier App to verify the PupilID:</p>
<img th:width="${qrcodewidth}" th:src="'data:image/png;base64,'+${qrcode}" alt="" src=""/>
</body>
</html>
