<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Wallet Demo</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css} "/>
</head>
<body>
<div th:replace="fragments/navbar.html :: navbar"></div>
<div class="container pt-3">
    <div class="h-100 p-5 bg-light border rounded-3">
        <h1 class="display-1">Invitation</h1>
        <p class="lead">You've received an invitation to verify credentials of a Wallet App. Please install the Verifier App from the
            Android Play Store or iOS App Store, or download a beta release from <a href="https://wallet.a-sit.at/">wallet.a-sit.at</a>.
        </p>
        <p class="alert alert-secondary">Afterwards, you can scan this QR Code with the Verifier App to verify the PupilID</p>
        <img th:width="${qrcodewidth}" th:src="'data:image/png;base64,'+${qrcode}" alt="" src=""/>
    </div>
</div>
</body>
</html>
