<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>A-SIT Plus Wallet Issuing M6</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css} "/>
    <script th:src="@{/webjars/bootstrap/5.3.1/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
    <script th:inline="javascript">
        function sendRevocationPost(id) {
            var contextPath = /*[[@{/revoke}]]*/ '';
            fetch(contextPath + '/' + id, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
            }).then(data => {
                console.log(data);
                location.reload();
            }).catch(error => {
                console.error("Error:", error);
            });
        }
    </script>
</head>
<body style="" class="bg-light">
<div th:replace="~{fragments/navbar.html :: navbar}"></div>
<div class="container py-4">
    <div class="row align-items-start">
        <h1 class="display-4 col">A-SIT Plus Wallet Issuing Backend (M6)</h1>
    </div>

    <div sec:authorize="isAuthenticated()" class="lead mt-5 mb-5">
        <p>List of your credentials:</p>
        <!--/*@thymesVar id="credentials" type="List"*/-->

        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">VC ID</th>
                    <th scope="col">Schema</th>
                    <th scope="col">List</th>
                    <th scope="col">Idx</th>
                    <th scope="col">Revoke</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="credential : ${credentials}">
                    <td th:text="${credential.id}"></td>
                    <td th:text="${credential.vcId}"></td>
                    <td th:text="${credential.attributeName}"></td>
                    <td th:text="${credential.timePeriod}"></td>
                    <td th:text="${credential.revocationListIndex}"></td>
                    <td>
                        <button type="button" class="btn btn-warning" th:onclick="'sendRevocationPost(' + ${credential.id} + ')'">Revoke</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div th:if="${#lists.isEmpty(credentials)}" class="alert alert-info">
            <p>No credentials found.</p>
        </div>
    </div>

    <div sec:authorize="isAuthenticated()" class="lead mt-5 mb-5">
        <p>List of your revoked credentials:</p>
        <!--/*@thymesVar id="revokedCredentials" type="List"*/-->

        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                <tr>
                    <th scope="col">List</th>
                    <th scope="col">Idx</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="revokedCredential : ${revokedCredentials}">
                    <td th:text="${revokedCredential.timePeriod}"></td>
                    <td th:text="${revokedCredential.revocationListIndex}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div th:if="${#lists.isEmpty(revokedCredentials)}" class="alert alert-info">
            <p>No revoked credentials found.</p>
        </div>
    </div>

</div>
</body>
</html>
