<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Wallet Demo</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css} "/>
</head>
<body style="background: #ececec;">
<div th:replace="fragments/navbar.html :: navbar"></div>
<div class="container pt-4">
    <h1 class="display-4">Revocation</h1>
    <p class="alert alert-light border" style="border-left: 0.5rem solid #5bc0de !important;">
        <span th:replace="fragments/icons.html :: info_icon"></span>
        <span>This list contains all issued credentials. Click on "revoke" revokes the corresponding credential. Updates shall be
        reflected here and in the
        revocation list credential
            <a th:href="${revocationListUrl}">/credentials/status/1</a>.</span></p>

    <p th:if="${vcList.isEmpty()}" class="alert alert-danger">
        <span th:replace="fragments/icons.html :: danger_icon"></span>
        No credential exists yet.</p>
    <table class="table">
        <tr>
            <th>Subject ID</th>
            <th>Attribute Name</th>
            <th>Issuance Date</th>
            <th>Action</th>
        </tr>
        <tr th:each="vc : ${vcList}">
            <td><span th:text="${vc.subjectId}">Key</span></td>
            <td><span th:text="${vc.attributeName}">Key</span></td>
            <td><span th:text="${vc.issuanceDate}">Key</span></td>
            <td><a th:href="${revokeActionUrl}+'?vcId='+${vc.vcId}" class="btn btn-danger">revoke</a></td>
        </tr>
    </table>
</div>
</body>
</html>
