<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Wallet Demo</title>
</head>
<body>
<h1>Revocation</h1>
<p>This list contains all issued credentials. Click on one to revoke it. Updates shall be reflected here and in the
    revocation list credential <a
            th:href="${revocationListUrl}">/credentials/status/1</a></p>

<p><a th:href="${fakeItemUrl}">fake a item</a></p>

<hr>

<p th:if="${vcList.isEmpty()}">No credential exists yet.</p>
<table>
    <tr>
        <th>Subject ID</th>
        <th>Attribute Name</th>
        <th>Issuence Date</th>
        <th>Action</th>
    </tr>
    <tr th:each="vc : ${vcList}">
        <td><span th:text="${vc.subjectId}">Key</span></td>
        <td><span th:text="${vc.attributeName}">Key</span></td>
        <td><span th:text="${vc.issuanceDate}">Key</span></td>
        <td><a th:href="${revokeActionUrl}+'?vcId='+${vc.vcId}">revoke</a></td>
    </tr>
</table>
</body>
</html>
