<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="headerfiles">
    <meta charset="UTF-8"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css} "/>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark app-navbar">
    <div class="container">
        <a class="navbar-brand fs-3 fw-bold" th:href="@{/}" th:text="${config.metadata.name}">Issuing Service</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item ms-2" sec:authorize="!isAuthenticated()">
                    <a th:href="@{${paths.LoginUrl}}" class="nav-link">Login</a>
                </li>
                <li class="nav-item ms-2" sec:authorize="isAuthenticated()">
                    <a th:href="@{${paths.RevocationUrl}}" class="nav-link">Revocation</a>
                </li>
                <li class="nav-item ms-2" sec:authorize="isAuthenticated()">
                    <a th:href="@{${paths.LogoutUrl}}" class="nav-link">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
